body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    @media only screen and (min-width: $xs) {
        width: 768px;
    }

    @media only screen and (min-width: $sm) {
        width: 980px;
    }

    @media only screen and (min-width: $md) {
        width: 1280px;
    }
}  